@model AirsoftSearch.Models.SearchModel;
@{
    ViewData["Title"] = "Home Page";
}
<h3>Welcome to Airsoft Search the gateway to your Aifsoft Gear Searching.</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SearchTerm" class="control-label"></label>
                <input asp-for="SearchTerm" class="form-control" />
                <span asp-validation-for="SearchTerm" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
        <br/><br/>
        <table>
            <tr>
                <td>
                    @if (@ViewBag.EvikeLink != null)
                    {

                        <div>
                            <div class="display-field" style="font-weight: bold;">
                                @Html.Raw(ViewBag.EvikeLink)
                            </div>
                        </div>
                    }
                    @if (@ViewBag.EvikeImg != null)
                    {
                        <div>
                            <div class="display-field" style="font-weight: bold;">
                                @Html.Raw(ViewBag.EvikeImg)
                            </div>
                        </div>

                    }
                </td>
                <td>  
                    @if (@ViewBag.RedWolfLink != null)
                    {

                        <div>
                            <div class="display-field" style="font-weight: bold;">
                                @Html.Raw(ViewBag.RedWolfLink)
                            </div>
                        </div>
                    }
                    @if (@ViewBag.RedWolfImg != null)
                    {
                        <div>
                            <div class="display-field" style="font-weight: bold;">
                                @Html.Raw(ViewBag.RedWolfImg)
                            </div>
                        </div>

                    }
                </td>
                <td> 
                    @if (@ViewBag.AirsoftGiLink != null)
                    {

                        <div>
                            <div class="display-field" style="font-weight: bold;">
                                @Html.Raw(ViewBag.AirsoftGiLink)
                            </div>
                        </div>
                    }
                    @if (@ViewBag.AirsoftGiImg != null)
                    {
                        <div>
                            <div class="display-field" style="font-weight: bold;">
                                @Html.Raw(ViewBag.AirsoftGiImg)
                            </div>
                        </div>

                    }
                </td>
            </tr>
            <tr>
                <td>  
                    @if (@ViewBag.AirsoftStationLink != null)
                    {

                        <div>
                            <div class="display-field" style="font-weight: bold;">
                                @Html.Raw(ViewBag.AirsoftStationLink)
                            </div>
                        </div>
                    }
                    @if (@ViewBag.AirsoftStationImg != null)
                    {
                        <div>
                            <div class="display-field" style="font-weight: bold;">
                                @Html.Raw(ViewBag.AirsoftStationImg)
                            </div>
                        </div>

                    }
                </td>
                <td> 
                    @if (@ViewBag.AirsoftExtremeLink != null)
                    {

                        <div>
                            <div class="display-field" style="font-weight: bold;">
                                @Html.Raw(ViewBag.AirsoftExtremeLink)
                            </div>
                        </div>
                    }
                    @if (@ViewBag.AirsoftExtremeImg != null)
                    {
                        <div>
                            <div class="display-field" style="font-weight: bold;">
                                @Html.Raw(ViewBag.AirsoftExtremeImg)
                            </div>
                        </div>

                    }
                </td>
                <td>  
                    @if (@ViewBag.AirsoftMegaStoreLink != null)
                    {

                        <div>
                            <div class="display-field" style="font-weight: bold;">
                                @Html.Raw(ViewBag.AirsoftMegaStoreLink)
                            </div>
                        </div>
                    }
                    @if (@ViewBag.AirsoftMegaStoreImg != null)
                    {
                        <div>
                            <div class="display-field" style="font-weight: bold;">
                                @Html.Raw(ViewBag.AirsoftMegaStoreImg)
                            </div>
                        </div>

                    }
                </td>
            </tr>
        </table>
    </div>
</div>
